<h1><%= @task.name %></h1>

<%= form_for @task do |f| %>
  <%= f.label :name, "Task Name: " %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :group_task, "Is this a group task?" %>
  <%= f.check_box :group_task %>
  <br>
  <%= f.label :points_awarded, "How many points is this task worth?" %>
  <%= f.number_field :points_awarded %>
  <br>

  <%= f.submit "Create Task" %>


<% end %>
