<h1><%= @task.name %></h1>

<%= form_for @task do |f| %>
  <%= render partial: 'form', locals: { f: f } %>

  <% if @task.event_id.nil? %>
    <%= f.label :event, "Which event is this task for?" %>
    <%= f.collection_select :event_id, Event.all, :id, :name, prompt: "Select an event"  %>
  <% end %>

  <br>
  <br>
  <%= f.submit "Submit Changes", data: { confirm: "Submit these changes?" }, class: "btn btn-info" %>

<% end %>

<br>
<%= link_to "Return to Task page", task_path(@task), class: "btn btn-primary" %>
