<h1><%= @task.name %></h1>

<%= form_for @task do |f| %>
  <%= f.label :name, "Task Name: " %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :task_type, "Task Type: " %>
  <%= f.collection_select :task_type, @task_types, :name, :name, prompt: "Please select your username from this dropdown" %>
  <br>
  <%= f.label :points_awarded, "How many points is this task worth?" %>
  <%= f.number_field :points_awarded %>
  <br>

  <%= f.submit "Create Task" %>


<% end %>
