<h1>Task Name: <%= @task.name %></h1>

<br>

<p>Host Event: <%= link_to @event.name, event_path(@event) %></p>

<p>Task type: <%= @task.task_type %></p>

<p>Points Awarded: <%= @task.points_awarded %></p>

<p>Participants:
  <%= (task_participants @task) %>
</p>

<% if @task.task_admin(current_user) %>
 <%= link_to "Delete Task", task_path(@task), method: :delete, data: { confirm: "Are you sure you want to delete this task?" } %>
<% end %>
