<h1>Task Name: <%= @task.name %></h1>

<br>

<p>Host Event: <%= link_to @event.name, event_path(@event) %></p>

<p>Task type: <%= @task.task_type %></p>

<p>Points Awarded: <%= @task.points_awarded %></p>


<div class="btn-group">
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Participants
  </button>
  <div class="dropdown-menu scrollable-menu">
    <% @task.users.each do |participant| %>
      <p class="dropdown-item">
        <%= link_to participant.username, user_path(participant) %>
      </p>
      <div class="dropdown-divider"></div>
    <% end %>
  </div>
</div>


<% if @task.task_admin(current_user) %>
 <%= link_to "Delete Task", task_path(@task), method: :delete, data: { confirm: "Are you sure you want to delete this task?" } %>
<% end %>
