<h1><%= @event.name %>: (<%= @task.name %>)</h1>


<p>Task type: <%= @task.task_type %></p>

<p>Points Awarded: <%= @task.points_awarded %></p>

<p>Participants: <%= @task.list_participants %></p>

<% if @task.task_admin(current_user) %>
 <%= link_to "Delete Task", task_path(@task), method: :delete, data: { confirm: "Are you sure you want to delete this task?" } %>
<% end %>
