<h1><%= "#{@user.username}'s Events & Tasks" %></h1>

<br>
<br>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Events You Created
        </div>
        <ul class="list-group list-group-flush">
          <% Event.admin(current_user).each do |event| %>
            <li class="list-group-item"><%= link_to event.name.titleize, event_path(event) %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-header">
          Solo-Tasks
        </div>
        <ul class="list-group list-group-flush">
          <% current_user.tasks.solo_tasks.each do |solo_task| %>
            <li class="list-group-item"><%= link_to solo_task.name.titleize, event_path(solo_task.event_id) %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="w-100"></div>

    <div class="col">
      <div class="card">
        <div class="card-header">
          Other's Events Your are Participating In
        </div>
        <ul class="list-group list-group-flush">
          <% Event.not_admin(current_user).each do |event| %>
            <li class="list-group-item"><%= link_to event.name.titleize, event_path(event) %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-header">
          Group Tasks
        </div>
        <ul class="list-group list-group-flush">
          <% current_user.tasks.group_tasks.each do |group_task| %>
            <li class="list-group-item">
              <%= link_to group_task.name.titleize, event_path(group_task.event_id) %> in Event:
              <%= link_to Event.find(group_task.event_id).name, event_path(group_task.event_id) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <br>
  <br>

  <div>
    <h2>Your Friends</h2>
    <ul>
      <% for friendship in @user.friendships %>
      <li>
        <%= h friendship.friend.username %>
        (<%= link_to "remove", friendship, method: :delete %>)
      </li>
      <% end %>
    </ul>
  </div>

</div>
