<th scope="row"><%= event_instance.tasks.index(task_instance) + 1 %></th>
<td><%= link_to task_instance.name, event_task_path(task_instance.event_id, task_instance) %></td>
<td><%= task_instance.task_type %></td>
<td><%= task_instance.points_awarded %></td>
<td><%= task_instance.max_participants %></td>
<td><%= task_instance.deadline_date.strftime("%m-%d-%y") if task_instance.deadline_date %></td>
<td><%= task_instance.list_participants %></td>
<td><%= permission_to_join?(task_instance) { (check_task_availability task_instance) } %></td>
<td><%= permission_to_join?(task_instance) { (display_user_checkbox task_instance) } %></td>


<%= form_for task_instance do |f| %>
  <%= f.hidden_field :event_id, value: task_instance.event_id %>
<% end %>
