<th scope="row"><%= event_instance.tasks.index(task_instance) + 1 %></th>
<td><%= link_to task_instance.name, event_task_path(task_instance.event_id, task_instance) %></td>
<td><%= task_instance.task_type %></td>
<td><%= task_instance.points_awarded %></td>
<td><%= task_instance.max_participants %></td>
<td><%= task_instance.deadline_date %></td>
<td><%= task_instance.list_participants %></td>
<td><%= current_user.friend_ids_list.include?(task_instance.admin_id) ? (check_participant_join_status task_instance) : "Cannot Join" %></td>
<td><%= current_user.friend_ids_list.include?(task_instance.admin_id) ? (display_user_checkbox task_instance) : "Cannot Join" %></td>
