<h1><%= @event.name %> ADMIN PAGE</h1>



<br>
<br>

<h2>INCOMPLETE TASKS</h2>

<div class="table-responsive">
  <%= form_tag admin_complete_users_tasks_path, method: :patch do %>
    <table class="table border border-info">
      <thead class="thead bg-info text-white">
        <tr>
          <%= render partial: 'table_headers', locals: { event_instance: @event } %>
          <th scope="col">Confirm Task Completion?</th>
          <th scope="col">Delete?</th>
        </tr>
      </thead>

      <tbody>
        <% @event.tasks.not_complete.each do |task| %>
          <tr>
            <%= render partial: 'table_rows', locals: { event_instance: @event, task_instance: task } %>
            <td><%= display_admin_checkbox task %></td>
            <td><%= link_to "Delete Task", task_path(task), method: :delete, data: { confirm: "Are you sure you want to delete this task?" } %></td>

            <td>
              <%= form_for task do |f| %>
                <%= f.hidden_field :event_id, value: task.event_id %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= submit_tag "Confirm Task Completion", class: "btn btn-info" %>
    <%= link_to "View as Non-Admin", event_path(@event), class: "btn btn-outline-primary" %>
  <% end %>
</div>


<br>
<br>
<br>


<h2>COMPLETED TASKS</h2>
<div class="table-responsive">
  <table class="table border border-info">
    <thead class="thead bg-info text-white">
      <%= render partial: 'table_headers', locals: { event_instance: @event } %>
    </thead>

    <tbody>
      <% @event.tasks.admin_marked_complete.each do |task| %>
        <tr>
          <%= render partial: 'table_rows', locals: { event_instance: @event, task_instance: task } %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<br>
<br>
<br>


<% if @event.admin_id == current_user.id %>
  <h1>Create a New Task</h1>

  <%= form_for [@event, @task] do |f| %>
    <% f.hidden_field :event_id, value: @event.id %>
    <br>
    <%= f.label :name, "Task Name: " %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :group_task, "Is this a group task?" %>
    <%= f.check_box :group_task %>
    <br>
    <%= f.label :max_participants, "How many people can participate in this task?" %>
    <%= f.number_field :max_participants %>
    <br>
    <%= f.label :points_awarded, "How many points is this task worth?" %>
    <%= f.number_field :points_awarded %>
    <br>
    <%= f.label :deadline_date, "Task Deadline (Date): " %>
    <%= f.date_field :deadline_date %>
    <br>
    <%= f.label :deadline_time, "Task Deadline (Time)" %>
    <%= f.time_field :deadline_time %>
    <br>

    <%= f.submit "Create Task", class: "btn btn-info" %>

  <% end %>

  <br>
  <%= link_to "Edit Event Details", edit_event_path, class: "btn btn-outline-primary" %>
<% end %>
