<h1><%= @event.name %></h1>

<div class="table-responsive">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col-">#</th>
        <th scope="col">Task Name</th>
        <th scope="col-">Task Type</th>
        <th scope="col">Points Awarded</th>
        <th scope="col">Due Date</th>
        <th scope="col">Participants</th>
      </tr>
    </thead>

    <tbody>
      <% @event.tasks.each do |task| %>
        <% if !task.group_task %>
          <tr>
            <th scope="row"><%= @event.tasks.index(task) + 1 %></th>
            <td><%= task.name %></td>
            <td><%= task.task_type %></td>
            <td><%= task.points_awarded %></td>
            <td><%= task.deadline_date %></td>
            <td><%= check_participants task %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>


<div class="table-responsive">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Task Name</th>
        <th scope="col-">Task Type</th>
        <th scope="col">Points Awarded</th>
        <th scope="col">Due Date</th>
        <th scope="col">Participants</th>
      </tr>
    </thead>

    <tbody>
      <% @event.tasks.each do |task| %>
        <% if task.group_task %>
          <tr>
            <th scope="row"><%= @event.tasks.index(task) + 1 %></th>
            <td><%= task.name %></td>
            <td><%= task.task_type %></td>
            <td><%= task.points_awarded %></td>
            <td><%= task.deadline_date %></td>
            <td><%= check_participants task %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
