<h1><%= @event.name.titleize %></h1>

<br>
<br>
<br>
<h2>This Event's Admin is: <%= User.find(@event.admin_id).username %></h2>
<br>
<br>
<br>


<h2>INCOMPLETE TASKS</h2>

<div class="table-responsive">
  <%= form_tag user_complete_users_tasks_path, method: :patch do %>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <%= render partial: 'table_headers', locals: { event_instance: @event } %>
        </tr>
      </thead>

      <tbody>
        <% @event.tasks.each do |task| %>
          <% if !task.completed %>
            <tr>
              <%= render partial: 'table_rows', locals: { event_instance: @event, task_instance: task } %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%= submit_tag "Mark as Complete" %>
    <% if user_is_event_admin(@event) %>
      <%= link_to "View as Admin", show_admin_event_path %>
    <% end %>
  <% end %>
</div>


<br>
<br>
<br>


<h2>COMPLETED TASKS</h2>
<div class="table-responsive">
  <table class="table">
    <thead class="thead-dark">
      <%= render partial: 'table_headers', locals: { event_instance: @event } %>
    </thead>

    <tbody>
      <% @event.tasks.each do |task| %>
        <% if task.completed %>
          <tr>
            <%= render partial: 'table_rows', locals: { event_instance: @event, task_instance: task } %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
