
<!Doctype html>

<html lang="en">
  <head>
    <title>AAM ETM: Event Task Manager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


  </head>


  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">AAM.ETM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <!---------------->
          <!--------------->
          <!-- LOGGED IN -->
          <!--------------->
          <!---------------->
          <% if logged_in? %>

          <!-- INDEX of USERS -->
          <li class="nav-item active">
            <a class="nav-link" href="<%= users_path %>">Home<span class="sr-only">(current)</span></a>
          </li>

            <!-- User's Homepage -->
            <li class="nav-item">
              <a class="nav-link" href="<%= user_path(current_user) %>"><%= "#{current_user.username.capitalize}" %></a>
            </li>

            <!-- DROP-DOWN: EVENTS -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Event Options
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="<%= events_path %>">All Events</a>
                <div class="dropdown-divider"></div>
                <!-- MUST ADD PATH -->
                <a class="dropdown-item" href="#">Friend Events</a> <!-- MUST ADD PATH -->
                <!-- MUST ADD PATH -->
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="<%= new_event_path %>">Create New Event</a>
              </div>
            </li>

            <!-- DROP-DOWN: TASKS -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Task Options
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="<%= tasks_path %>">All Tasks</a>
              </div>
            </li>

            <!-- DROP-DOWN: User's Account -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Your Account
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="<%= profile_user_path(current_user) %>">Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="<%= signout_path %>" rel="nofollow" data-method="delete">Log Out</a>
              </div>
            </li>
          </ul>

          <!-- SEARCH FORM -->
          <form class="form-inline my-2 my-lg-0">
            <label style="margin-right: 50px;">Your Total Points: <%= current_user.total_points %></label>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>

        <!---------------->
        <!---------------->
        <!-- LOGGED OUT -->
        <!---------------->
        <!---------------->
        <% else %>

          <!-- WELCOME PAGE -->
          <li class="nav-item active">
            <a class="nav-link" href="<%= root_path %>">Welcome to ETL<span class="sr-only">(current)</span></a>
          </li>

          <!-- SIGN-UP Page -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sign Up Options
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="<%= new_user_path %>">Create a New Account</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/auth/facebook">Sign Up using Facebook</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/auth/github">Sign Up using Github</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/auth/google_oauth2">Sign Up using Google</a>
            </div>
            </li>

          <!-- LOG-IN Options -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Log In Options
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="<%= login_path %>">Log into Your Account</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/auth/facebook">Log in using Facebook</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/auth/github">Log in using Github</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/auth/google_oauth2">Log in using Google</a>
            </div>
          </li>
        <% end %>
      </div>
    </nav>

    <div>
      <%= yield %>

      <br>
      <br>
      <button><%= link_to "Return to the Previous Page", :back %></button>
    </div>


  </body>
</html>
